In [5]:
str = 'offers data analyst course'

print("this is arc technology {} in nagpur".format(str))

this is arc technology offers data analyst course in nagpur

In [15]:
info  = ("this is arc technology {} in nagpur".format(str))

In [17]:
print(info)

this is arc technology offers data analyst course in nagpur

#### count() method

In [19]:
len(info)

59

#### replace() method

In [25]:
info.replace("data analyst","java full stack")

'this is arc technology offers java full stack course in nagpur'

#### capitalize() method

In [28]:
name = 'jayant ranagri'
name = name.capitalize()
print(name)

Jayant ranagri

#### casefold() method

In [39]:
python = 'Is proramming language'
python = python.casefold()
print(python)

is proramming language

####  centre() method

In [54]:
DA5 = 'ARC'
DA5 = DA5.center(100)
print(DA5)

                                                ARC

#### endswith() method

In [57]:
text = 'hello, world?'
text = text.endswith("?")
print(text)

True

#### String find() Method

In [60]:
string = 'this is string or not'
string = string.find("string")
print(string)

8

#### format() method

In [63]:
value = "the rate is {only:.2f} dollars!"
print(value.format(only = 100))

the rate is 100.00 dollars!

#### index() method

In [66]:
excel = "if statement"
excel = excel.index("statement")
print(excel)

3

#### isalnum() method

In [71]:
isalnum = 'plotno43ramkrushnanagar'
isalnum = isalnum.isalnum()
print(isalnum)

True

#### isalpha() Method

In [84]:
alpha = 'alphabet'
alpha = alpha.isalpha()
print(alpha)

True

#### isnumeric() Method

In [87]:
number = '9146524107'
number = number.isnumeric()
print(number)

True

#### islower() Method

In [5]:
lower = 'jayant_rangari'
lower = lower.islower()
print(lower)

True

#### isupper() Method

In [3]:
upper = 'JAYANT_RANGARI'
upper = upper.isupper()
print(upper)

True

#### isspace() Method

In [102]:
space = '  '
space = space.isspace()
print(space)

True

#### join() Method

In [107]:
join = ("full","inner","left","right")
join = "_".join(join)
print(join)

full_inner_left_right

#### lower() Method

In [111]:
lower = 'MY NAME IS JAYANT '
lower = lower.lower()
print(lower)

my name is jayant

#### upper() method

In [114]:
upper = 'last name is rangari'
upper = upper.upper()
print(upper)

LAST NAME IS RANGARI

#### maketrans() Method

In [123]:
translation = 'sower bi'
trans = str.maketrans("s","p")
print(translation.translate(trans))

power bi

#### partition() Method

In [150]:
part = 'in da there are six modules sql powerbi mongodb tableau python excel'
partition = part.partition("sql")
print(partition)

('in da there are six modules ', 'sql', ' powerbi mongodb tableau python excel')

#### rfind() Method

In [2]:
find = 'india is my country'
find = find.rfind("my")
print(find)

9

#### rindex() Method

In [9]:
index = 'origin centre o mail and nagpur is a centre if india'
index = index.rindex("centre")
print(index)

37

#### istitle() Method

In [24]:
title = 'Data Analyst'
title = title.istitle()
print(title)

True

#### rpartition() Method

In [30]:
rpart = 'i drive every day and drive slowly'
rpart = rpart.rpartition("drive")
print(rpart)

('i drive every day and ', 'drive', ' slowly')

#### rsplit() Method

In [42]:
rsplit = 'add/sub/mul/div/per'
rsplit = rsplit.rsplit("/")
print(rsplit)

['add', 'sub', 'mul', 'div', 'per']